<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style2.css" rel="stylesheet">
        <style>
             body {
  background: url('/uploads/white.gif') center/cover fixed no-repeat;
  font-family: 'Open Sans', sans-serif;
}
        </style>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-primary navbar-dark" style="">
        <div class="container"> <a class="navbar-brand" href="#">
          <img src="\uploads\myarogya.png" height="105px">
            
          </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar16">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar16">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"> <a class="nav-link" href="\home">HOME</a> </li>
              <li class="nav-item"> <a class="nav-link" href="\workout2">WORKOUT</a> </li>
              <li class="nav-item"> <a class="nav-link" href="\diet">DIET</a> </li>
              <li class="nav-item"> <a class="nav-link" href="\stats">STATS</a> </li>
              <li class="nav-item"> <a class="nav-link" href="\profile">PROFILE</a> </li>
              <li class="nav-item"> <a class="nav-link" href="\aboutus">ABOUT US</a> </li>
              <li class="nav-item"> <a class="nav-link" href="\login">LOG OUT</a> </li>
            </ul>
          </div>
          <span style="color: white;font-weight: bolder;"></span>
        </div>
        
      </nav>

      
  <div class="py-3">
    <div class="container">
        <center><h1>Reasons to build this </h1></center><br>
      <div class="row my-4 d-flex justify-content-center">
        
        <div class="d-flex flex-column justify-content-center p-3 col-lg-7">
            
          <p class="lead mb-0 " >Staying fit is essential for overall well-being, offering a range of benefits. It helps prevent diseases, supports weight management, and boosts the immune system. Regular exercise not only reduces stress and enhances mood but also improves cognitive function and contributes to better sleep quality. Physical fitness increases energy levels, stamina, and overall longevity. It positively impacts self-esteem, body image, and confidence. Engaging in fitness activities also provides social benefits, fostering community connections and social interactions. Adopting a physically active lifestyle, even through enjoyable activities, is key to maintaining a healthy and fulfilling life. Always consult with healthcare professionals before starting new fitness routines.</p>
        </div>
        <div class="p-0 col-lg-3"> <img class="img-fluid d-block"  src="/uploads/Images/w20.jpg" style="object-fit: cover;height: 300px;width: 300px;"> </div>
      </div>
      <div class="row my-4 d-flex justify-content-center">
        <div class="p-0 order-2 order-lg-1 col-lg-3"> <img class="img-fluid d-block"  src="/uploads/Images/w19.jpg" style="object-fit: cover;height: 300px;width: 300px;"> </div>
        <div class="d-flex flex-column justify-content-center p-3 col-lg-7 order-1 order-lg-2">
          <p class="lead mb-0">Maintaining fitness with a South Indian diet involves balancing traditional foods rich in rice, lentils, and vegetables. Prioritize portion control, opt for whole grains, and include a variety of colorful vegetables to ensure a nutrient-rich intake. Incorporate lean proteins from sources like legumes and yogurt, and embrace spices known for their health benefits. Enjoying traditional South Indian dishes in moderation, staying hydrated, and combining the diet with regular physical activity will contribute to overall fitness and well-being.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center text-white" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(https://static.pingendo.com/cover-bubble-dark.svg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;box-shadow: 0 0 5px black;">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-12">
          <h1 class="mb-3">Our team</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="/uploads/IMG_5285.jpg" alt="Card image cap" width="200" style="object-fit: cover;width: 300px;height:300px;">
          <h4> <b>Ganga Sowbhakya Lakshmi</b> </h4>
          <p class="mb-0" style="color: black;">23mx305</p>
        </div>
        <div class="col-lg-4 col-md-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="/uploads/23mx332.jpg" alt="Card image cap" width="200" style="object-fit: cover;width: 300px;height:300px;">
          <h4> <b>Yohesh Babu.K.R</b> </h4>
          <p class="mb-0" style="color: black;">23mx332</p>
        </div>
        <div class="col-lg-4 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="/uploads/laksh.jpg"  style="object-fit: cover;width: 300px;height:300px;">
          <h4> <b>Lakshanya</b> </h4>
          <p class="mb-0" style="color: black;">23mx311</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-3 col-6 p-3">
          <h5> <b>Features</b> </h5>
          <ul class="list-unstyled">
            <li> <a href="/workout2">Workout</a> </li>
            <li> <a href="/diet">Diet</a> </li>
            <li> <a href="/stats">Stat</a> </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 p-3">
          <h5> <b>About</b> </h5>
          <p class="mb-0"> South Indian fitness App with diet, workout and statistic report.</p>
        </div>
        
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0 mt-2">© 23MX</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
  </body>

</html>